<h1><%= @gossip.title %></h1>
<p><strong>Auteur :</strong> <%= link_to @gossip.user.first_name, user_path(@gossip.user) %></p>
<p><strong>Contenu :</strong> <%= @gossip.description %></p>
<p><strong>Date de création :</strong> <%= @gossip.created_at %></p>
